.container {
  padding: 20px;
  grid-template-columns: 50% 50%;
  background-image: url("https://helppet.ru/img/base/BG_1024.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 22px;
  color:white;

}


.Photo {
  margin: 10px;
  width: 300px;
  height: auto;
}
.btn{
  border-radius: 10px;
  font-size: 17px;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}
.conteinerItems {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
  margin: 5px;
  max-width: 45%;
  min-width: 30%;
}

.allItems {
  margin-right: auto;
  margin-left: auto;
}