    .container{
        background-color:#e9ac67;
       text-align: center;
     
    }
    .conteinerGrid{  
        grid-auto-columns: minmax(25px,auto);
        grid-auto-rows: minmax(25px,auto);
        grid-gap: 5px;
        display:grid;
    }

    .item{
    padding: 10px;

    }
    .item_1{
        margin: 1px;
    }
    .sidebarButtons {
        min-width: 100%;
        text-align: start;
        border: 1px #3d3d3d solid;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        background-color: #ece6cd;
    }

    .animalPhoto {
        padding-top: 3px;
        border-radius: 10px;
        display: flex;
        width: 100%;
        height: auto;
    }
    .selectedPage{
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin: 0 5px ;

    }
    .pagination{
        border-radius: 55px;
        margin: 2px;
    }